{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
<ul>
    
<h1>Gestión educativa</h1>
<br>
<p> Esta página es una plataforma destinada a un espacio eduactivo, en la que podrás almacenar 
    información sobre carreras, profesores/as y egresados/as. <br>
    También podrás consultar los datos almacenados con posterioridad, pudiendo editarlos o eliminarnos
    y crear nuevos. <br> 
    Para facilitar la búsqueda de datos, es posible filtrar la información de 
    cada categoría al ingresar un dato adicional."></p>

{% endblock %}

</ul>
